<%- include('includes/head.ejs') %>
</head>

<body>

  <header class="u-width-base">
    <h1 class="heading-01">
      Music Theory
    </h1>
    <img src="/img/theme-sep01_symbol.svg" alt="" class="theme-sep01">
  </header>

  <main>
    <h2 class="heading-02">
      Page Not Found
    </h2>

    <div class="u-margin-top-medium u-margin-bottom-medium">
      <p class="p__a-btn">
        <a href="/" class="a-btn01 a-btn01--previous">HOME PAGE</a>
      </p>
    </div>
    
  </main>

  <footer class="u-width-base">
    <hr>
      
    <p class="p__footnote">
      Copyright &#169 2022 Rodney Martin
    </p>
  </footer>

<%- include('includes/end.ejs') %>