<%- include('../includes/head.ejs') %>
  </head>

  <body>

    <header class="u-width-base">
      <h1 class="heading-01">
        Music Theory
      </h1>
      <h2 class="heading-02">
        Chords
      </h2>
      <img src="/img/theme-sep01_symbol.svg" alt="" class="theme-sep01">

      <p>
        Please select a <b>Chord</b> function from the menu.
      </p>
    </header>

    <main class="u-width-base">
      
      <nav>

        <div class="grid__nav-chordfunctions">

          <div class="item__nav-icon-chords">
            <div class="nav-icon__outer-container">
              <div class="nav-icon__inner-container">
                <div class="nav-icon nav-icon--chords"></div>
              </div>        
            </div>      
          </div>

          <div class="item__nav-button-notesinchord">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/notesinchord" class="a-btn01 a-btn01--one">NOTES IN CHORD</a>
              </p>
            </div>
          </div>

          <div class="item__nav-icon-blank"></div>

          <div class="item__nav-button-namechord">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/namechord" class="a-btn01 a-btn01--two">NAME A CHORD</a>
              </p>
            </div>
          </div>

          <div class="item__nav-button-polychord">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/namepolychords" class="a-btn01 a-btn01--three">NAME POLYCHORDS</a>
              </p>
            </div>
          </div>
          
          <div class="item__nav-button-previous">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/" class="a-btn01 a-btn01--previous">PREVIOUS</a>
              </p>
            </div>
          </div>

        </div>

      </nav>

    </main>
      
    <footer class="u-width-base">
      <hr>
        
      <p class="p__footnote">
        Copyright &#169 2022 Rodney Martin
      </p>
    </footer>

<%- include('../includes/end.ejs') %>