<%- include('../includes/head.ejs') %>
  </head>

  <body> 
    
    <header class="u-width-base">
      <h1 class="heading-01">
        Music Theory
      </h1>
      <img src="/img/theme-sep01_symbol.svg" alt="" class="theme-sep01">

      <p class="p__main">
        Please make a selection from the menu to get started.
      </p>
    </header>

    <main class="u-width-base">
      
      <nav>

        <div class="grid__nav-home">

          <div class="item__nav-icon-keys">
            <div class="nav-icon__outer-container">
              <div class="nav-icon__inner-container">
                <div class="nav-icon nav-icon--keys"></div>
              </div>        
            </div>      
          </div>

          <div class="item__nav-button-keys">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/keyfunctions" class="a-btn01 a-btn01--one">KEYS</a>
              </p>
            </div>
          </div>

          <div class="item__nav-icon-intervals"> 
            <div class="nav-icon__outer-container">
              <div class="nav-icon__inner-container">
                <div class="nav-icon nav-icon--intervals"></div>
              </div>
            </div>          
          </div>

          <div class="item__nav-button-intervals">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/intervalfunctions" class="a-btn01 a-btn01--two">INTERVALS</a>
              </p>
            </div>
          </div>

          <div class="item__nav-icon-chords">
            <div class="nav-icon__outer-container">
              <div class="nav-icon__inner-container">
                <div class="nav-icon nav-icon--chords"></div>
              </div>
            </div>      
          </div>

          <div class="item__nav-button-chords">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/chordfunctions" class="a-btn01 a-btn01--three">CHORDS</a>
              </p>
            </div>
          </div>

          <div class="item__nav-icon-scales">
            <div class="nav-icon__outer-container">
              <div class="nav-icon__inner-container">
                <div class="nav-icon nav-icon--scales"></div>
              </div>
            </div>      
          </div>

          <div class="item__nav-button-scales">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/scalefunctions" class="a-btn01 a-btn01--four">SCALES</a>
              </p>
            </div>
          </div>

        </div>

      </nav>

    </main>
      
    <footer class="u-width-base">
      <hr>
        
      <p class="p__footnote">
        Copyright &#169 2022 Rodney Martin
      </p>
    </footer>

<%- include('../includes/end.ejs') %>