<%- include('../includes/head.ejs') %>
  </head>

  <body>

    <header class="u-width-base">
      <h1 class="heading-01">
        Music Theory 
      </h1>
      <h2 class="heading-02">
        Intervals
      </h2>      
      <img src="/img/theme-sep01_symbol.svg" alt="" class="theme-sep01">
      <p>
        Please select a <b>Interval</b> function from the menu.
      </p>
    </header>

    <main class="u-width-base">
      
      <nav>

        <div class="grid__nav-intervalfunctions">

          <div class="item__nav-icon-intervals">
            <div class="nav-icon__outer-container">
              <div class="nav-icon__inner-container">
                <div class="nav-icon nav-icon--intervals"></div>
              </div>        
            </div>      
          </div>

          <div class="item__nav-button-diatonicnoteinkey">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/diatonicnoteinkey" class="a-btn01 a-btn01--one">DIATONIC NOTE IN KEY</a>
              </p>
            </div>
          </div>

          <div class="item__nav-icon-blank"></div>

          <div class="item__nav-button-notatinterval">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/noteatinterval" class="a-btn01 a-btn01--two">NOTE AT INTERVAL</a>
              </p>
            </div>
          </div>

          <div class="item__nav-button-intervalbetween">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/intervalbetween" class="a-btn01 a-btn01--three">INTERVAL BETWEEN NOTES</a>
              </p>
            </div>
          </div>
          
          <div class="item__nav-button-previous">
            <div class="div__a-btn">
              <p class="p__a-btn">
                <a href="/" class="a-btn01 a-btn01--previous">PREVIOUS</a>
              </p>
            </div>
          </div>

        </div>

      </nav>

    </main>
      
    <footer class="u-width-base">
      <hr>
        
      <p class="p__footnote">
        Copyright &#169 2022 Rodney Martin
      </p>
    </footer>

<%- include('../includes/end.ejs') %>